:root {
    --clr-primary-200: hsl(166, 12%, 36%);
    --clr-primary-500: hsl(166, 18%, 23%);
    --clr-primary-800: hsl(167, 26%, 17%);
    --clr-secondary-300: hsl(273, 18%, 55%);
    --clr-secondary-600: hsl(272, 17%, 44%);
    --clr-secondary-900: hsl(273, 32%, 27%);
  
    --clr-neutral-0: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 20%);
    --clr-neutral-1000: hsl(0, 0%, 0%);
  
    --ff-normal: "Source Sans Pro";
    --ff-special: "Oswald";
  
    --fw-regular: 400;
    --fw-bold: 500;
    --fw-bolder: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url(../images/cubes.webp);
}

h1 {
    font-size: 3.5rem;
    font-weight: var(--fw-bolder);
    font-family: var(--ff-special);
    color: var(--clr-primary-200);
}

h2 {
    font-size: 3rem;
    font-weight: var(--fw-bolder);
    font-family: var(--ff-special);
    color: var(--clr-primary-200);
}

h3 {
    font-size: 2rem;
    font-weight: var(--fw-bolder);
    font-family: var(--ff-special);
    color: var(--clr-primary-200);
}

h4 {
    font-size: 3rem;
    font-weight: var(--fw-bolder);
    font-family: var(--ff-special);
    color: var(--clr-primary-200);
}

.fa-brands {
    font-size: 2rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
 
.card {
    width: 18rem;
    height: 15rem;
    border: 3px solid var(--clr-primary-200);
}

li {
    margin: .8rem 0;
}

a {
    color: var(--clr-secondary-300);
    font-weight: var(--fw-bold);
    font-family: var(--ff-special);
    text-decoration: none;
}

a:hover {
    color: var(--clr-secondary-600);
    text-decoration: underline;
}

.max-width {
    max-width: 320px;
}

.projects-title h2 {
    font-size: 2rem;

}

i {
    color: var(--clr-secondary-300);
}